*.o
*.d
*.so
*.vpi
*.vvp
*.out
*.log
*.vcd
*.fst
*.fst.hier
*.build
__pycache__
.Xil
sim_build

results.xml
.config

build/
install/

design/build/

tests/log/

.vscode/

.cache/

compile_commands.json
